%ul
  - next_game = current_player.team.next_games.first
  - home = next_game.home_team
  - away = next_game.away_team
  %li
    %h3
      %span.seed= home.seed
      = colored_team_name home
      %span.game-order
        game
        = next_game.order
    %h3
      %span.seed= away.seed
      = colored_team_name away
      = attendance_button current_player, next_game
    %h4.view-attendance-link<
      %i.icon-asterisk.icon-spin.hidden
      = link_to "Who's coming?", game_attendance_path(next_game), remote: true
  - current_player.team.previous_games.limit(4).reverse.each do |game|
    - h = game.home_team
    - a = game.away_team
    - home = current_player.team == h
    - winner = case true
      - when game.home_score > game.away_score; home ? "win" : "loss"
      - when game.away_score > game.home_score; home ? "loss" : "win"
      - else "tie"

    %li{class: winner}
      %h3
        %span.seed= h.seed
        = colored_team_name h
        %span.score= game.home_score
      %h3
        %span.seed= a.seed
        = colored_team_name a
        %span.score= game.away_score
      %h4
        - if game.reported
          = link_to "See match report", report_path(game)
        - elsif can? :report, game
          = link_to "Report match", new_report_path(game)
