%ul
  - next_game = current_player.team.next_games.first
  - home = next_game.home_team
  - away = next_game.away_team
  %li
    %h3
      %span.seed= home.seed.to_s.rjust(2, "0")
      = colored_team_name home
      %span.game-order
        game
        = next_game.order
    %h3
      %span.seed= away.seed.to_s.rjust(2, "0")
      = colored_team_name away
      = attendance_button current_player, next_game
    %h4.view-attendance-link<
      %i.icon-asterisk.icon-spin.hidden
      = link_to "Who's coming?", game_attendance_path(next_game), remote: true, class: "closed", id: "attendance-link"
    .attendance{id: "attendance-#{next_game.id}"}
  - current_player.team.previous_games.limit(4).each do |game|
    - h = game.home_team
    - a = game.away_team
    - home = current_player.team == h
    - winner = case true
      - when game.missing_report?; "no-report"
      - when game.home_score > game.away_score; home ? "win" : "loss"
      - when game.away_score > game.home_score; home ? "loss" : "win"
      - else "tie"

    %li{class: winner}
      %h3
        %span.seed= h.seed.to_s.rjust(2, "0")
        = colored_team_name h
        %span.score= game.reported ? game.home_score : 0
      %h3
        %span.seed= a.seed.to_s.rjust(2, "0")
        = colored_team_name a
        %span.score= game.reported ? game.away_score : 0
      - if game.reported
        %h4= link_to "See match report", report_path(game)
      - elsif can? :report, game
        %h4
          = link_to "Report match", new_report_path(game, 1), "data-no-turbolink" => ""
          - if game.missing_report?
            %span.tooltip.icon-exclamation-sign.no-report-warning{title: "Games without match reports are counted as a forfeit loss for both teams!"}

  %li.colors
    .win
    %span win
    .loss
    %span loss
    .tie
    %span tie
    .no-report
    %span no MR
