- title "#{current_player.username}'s dashboard"

- current_player.dashboard.each do |item|
  .dashboard-item{class: "dashboard-item-#{item.template_name}", id: "dashboard-item-#{item.template_name}-#{item.id}"}
    = render partial: "dashboard/#{item.template_name}", locals: { box: item }
