= form_for new_report_path(game) do |f|
  %h2
    = colored_team_name game.home_team, short: false
    %span{id: "score-#{game.home_team.id}"}= game.home_score
    \-
    %span{id: "score-#{game.away_team.id}"}= game.away_score
    = colored_team_name game.away_team, short: false
  = f.submit "hi"
