%h2
  = colored_team_name game.home_team, short: false, class: "home-team"
  %span.home-score{id: "score-#{game.home_team.id}"}= game.home_score
  \-
  = colored_team_name game.away_team, short: false, class: "away-team"
  %span.away-score{id: "score-#{game.away_team.id}"}= game.away_score
.buttons
  .home-team
    = form_tag add_goal_to_report_path(game, side: 'home'), method: :put, remote: true, class: "goal-form" do
      = hidden_field :game, :id
      = submit_tag "Goal+"
  .away-team
    = form_tag add_goal_to_report_path(game, side: 'away'), method: :put, remote: true, class: "goal-form" do
      = hidden_field :game, :id
      = submit_tag "Goal+"
.goals
  - @game.goals.order(:time).each do |goal|
    = render partial: "goal", locals: { goal: goal }
