= form_for new_report_path(game) do |f|
  %h2
    = colored_team_name game.home_team, short: false
    = game.home_score
    \-
    = game.away_score
    = colored_team_name game.away_team, short: false
  = f.submit "hi"
