= form_for goal, namespace: "goal-#{goal.id}", remote: true do |f|
  = f.label :time, "time"
  = f.number_field :time

  = f.label :scorer, "scored by"
  = f.select :scorer, options_from_collection_for_select(goal.team.players.order(:username), :id, :username, (goal.scorer.id rescue nil)), { prompt: "nobody" }, class: "scorer"

  = f.label :first_assist, "assisted by"
  = f.select :first_assist, options_from_collection_for_select(goal.team.players.order(:username).where('id != ?', (goal.scorer.id rescue 0)), :id, :username, goal.first_assist_id), { prompt: "nobody" }, class: "first-assist"

= button_to goal_path(goal), method: :delete, form_class: "delete-goal", form: { id: "delete-goal-#{goal.id}" }, remote: true do
  %span.icon-remove
