%div{"ng-controller" => "MatchReporter"}
  .team
    %ul
      - @game.home_team.players.each do |player|
        %li.player{"data-player-id" => player.id, "data-drag" => "true", "jqyoui-draggable" => "{animate:true}"}= player.username
    %h2= colored_team_name @game.home_team

  #match-reporter{"data-game-id" => @game.id}
    %ul.floating.positions
      %li{id: "gk-#{@game.home_team_id}-0"}
        {{substitution("gk", #{@game.home_team_id}, 0)}}
      %li{id: "player-#{@game.home_team_id}-0"}
        {{substitution("player", #{@game.home_team_id}, 0)}}
      %li{id: "player-#{@game.home_team_id}-1"}
        {{substitution("player", #{@game.home_team_id}, 1)}}
      %li{id: "player-#{@game.home_team_id}-2"}
        {{substitution("player", #{@game.home_team_id}, 2)}}
      %li.space
      %li{id: "player-#{@game.away_team_id}-2"}
        {{substitution("player", #{@game.away_team_id}, 2)}}
      %li{id: "player-#{@game.away_team_id}-1"}
        {{substitution("player", #{@game.away_team_id}, 1)}}
      %li{id: "player-#{@game.away_team_id}-0"}
        {{substitution("player", #{@game.away_team_id}, 0)}}
      %li{id: "gk-#{@game.away_team_id}-0"}
        {{substitution("gk", #{@game.away_team_id}, 0)}}

  .team
    %h2= colored_team_name @game.away_team
    %ul
      - @game.away_team.players.each do |player|
        %li.player{"data-player-id" => player.id, "data-drag" => "true", "jqyoui-draggable" => "{animate:true}"}= player.username
