%div{"ng-controller" => "MatchReporter"}
  .team
    %ul
      - @game.home_team.players.each do |player|
        %li.player{"data-player-id" => player.id, "data-team-id" => @game.home_team_id, "data-drag" => "true", "jqyoui-draggable" => "{animate:true}"}
          %div= player.username
    %h2= colored_team_name @game.home_team
    %span.half-picker
      = select_tag :half, options_for_select([["First half", 1], ["Second half", 2], ["Overtime", 3]])

  #match-reporter{"data-game-id" => @game.id}
    %ul.floating
      %li GK
      %li Player
      %li Player
      %li Player
      %li
      %li Player
      %li Player
      %li Player
      %li GK
    %ul.positions{"data-half" => 1}
      = time_spans
      %li.spot{"ng-bind-html-unsafe" => "substitution('gk',     #{@game.home_team_id}, 0)", "data-position" => "gk"    , "data-team-id" => @game.home_team_id, "data-reporter-index" => 0}
      %li.spot{"ng-bind-html-unsafe" => "substitution('player', #{@game.home_team_id}, 0)", "data-position" => "player", "data-team-id" => @game.home_team_id, "data-reporter-index" => 0}
      %li.spot{"ng-bind-html-unsafe" => "substitution('player', #{@game.home_team_id}, 1)", "data-position" => "player", "data-team-id" => @game.home_team_id, "data-reporter-index" => 1}
      %li.spot{"ng-bind-html-unsafe" => "substitution('player', #{@game.home_team_id}, 2)", "data-position" => "player", "data-team-id" => @game.home_team_id, "data-reporter-index" => 2}
      %li.space
      %li.spot{"ng-bind-html-unsafe" => "substitution('player', #{@game.away_team_id}, 2)", "data-position" => "player", "data-team-id" => @game.away_team_id, "data-reporter-index" => 2}
      %li.spot{"ng-bind-html-unsafe" => "substitution('player', #{@game.away_team_id}, 1)", "data-position" => "player", "data-team-id" => @game.away_team_id, "data-reporter-index" => 1}
      %li.spot{"ng-bind-html-unsafe" => "substitution('player', #{@game.away_team_id}, 0)", "data-position" => "player", "data-team-id" => @game.away_team_id, "data-reporter-index" => 0}
      %li.spot{"ng-bind-html-unsafe" => "substitution('gk',     #{@game.away_team_id}, 0)", "data-position" => "gk"    , "data-team-id" => @game.away_team_id, "data-reporter-index" => 0}

  .team
    %h2= colored_team_name @game.away_team
    %ul
      - @game.away_team.players.each do |player|
        %li.player{"data-player-id" => player.id, "data-team-id" => @game.away_team_id, "data-drag" => "true", "jqyoui-draggable" => "{animate:true}"}
          %div= player.username
