!!! 5
%html
  %head
    %title
      PHL
      - unless (cl = yield(:title)).blank?
        |
        = cl
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body{class: params[:controller]}
    %nav
      = link_to "PHL", root_path, id: "home"
      - if player_signed_in?
        Logged in as
        = colored_player_name current_player
        %span.sep= "|"
        = link_to "Logout", destroy_player_session_path, method: :delete
      - else
        = link_to "Login", new_player_session_path

    #content
      - unless alert.blank?
        #alert
          %span.close.icon-remove
          %p= alert
      - unless notice.blank?
        #notice
          %span.close.icon-remove
          %p= notice
      - if params[:controller] == 'players' && params[:action] == 'index'
        = yield
      - else
        .page= yield
